In [31]:
import pandas as pd
import glob
csv_files = glob.glob("battle-results-csv" + "/*.csv")
df_list = (pd.read_csv(file) for file in csv_files)

big_df = pd.concat(df_list, ignore_index=True)

C:\Users\davie\AppData\Local\Temp\ipykernel_1324\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)

In [32]:
weapons=big_df[["# season", 'game-ver',"A1-weapon", "A2-weapon","A3-weapon","A4-weapon","B1-weapon","B2-weapon","B3-weapon","B4-weapon"]]

In [33]:
import json
with open("weapons.json") as json_file:
    data = json.load(json_file)

toENG = {}
for i in data:
    toENG[i["key"]] = i["name"]["en_US"]

In [34]:
weapons["A1-weapon"] = weapons["A1-weapon"].map(toENG)
weapons["A2-weapon"] = weapons["A2-weapon"].map(toENG)
weapons["A3-weapon"] = weapons["A3-weapon"].map(toENG)
weapons["A4-weapon"] = weapons["A4-weapon"].map(toENG)
weapons["B1-weapon"] = weapons["B1-weapon"].map(toENG)
weapons["B2-weapon"] = weapons["B2-weapon"].map(toENG)
weapons["B3-weapon"] = weapons["B3-weapon"].map(toENG)
weapons["B4-weapon"] = weapons["B4-weapon"].map(toENG)

C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A1-weapon"] = weapons["A1-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A2-weapon"] = weapons["A2-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A3-weapon"] = weapons["A3-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A4-weapon"] = weapons["A4-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B1-weapon"] = weapons["B1-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B2-weapon"] = weapons["B2-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B3-weapon"] = weapons["B3-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_1324\2654664428.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B4-weapon"] = weapons["B4-weapon"].map(toENG)

In [35]:
weapons

,# season,game-ver,A1-weapon,A2-weapon,A3-weapon,A4-weapon,B1-weapon,B2-weapon,B3-weapon,B4-weapon
0,Drizzle Season 2022,1.1.1,Splattershot,Tenta Brella,Flingza Roller,.52 Gal,Nautilus 47,.52 Gal,Hydra Splatling,Range Blaster
1,Drizzle Season 2022,1.1.1,Hero Shot Replica,Aerospray MG,Inkbrush,Splat Roller,Sploosh-o-matic,Inkbrush,Dualie Squelchers,Goo Tuber
2,Drizzle Season 2022,1.1.1,Sloshing Machine,Carbon Roller,Splattershot,Dualie Squelchers,Clash Blaster,Range Blaster,Ballpoint Splatling,Sloshing Machine
3,Drizzle Season 2022,1.1.1,Hero Shot Replica,Splattershot Jr.,Splat Roller,Inkbrush,Splash-o-matic,Splattershot Jr.,Splattershot,Splat Roller
4,Drizzle Season 2022,1.1.1,Sloshing Machine,Range Blaster,Dapple Dualies,Tri-Slosher,Tri-Slosher,Hydra Splatling,Sploosh-o-matic,N-ZAP '85
...,...,...,...,...,...,...,...,...,...,...
1459852,Sizzle Season 2023,4.1.0,Splash-o-matic,Dynamo Roller,Explosher,Bloblobber,Tentatek Splattershot,Dapple Dualies Nouveau,Painbrush,Neo Splash-o-matic
1459853,Sizzle Season 2023,4.1.0,Classic Squiffer,Splattershot Jr.,Splatana Stamper,Splat Roller,Tentatek Splattershot,Tentatek Splattershot,Krak-On Splat Roller,Splatana Wiper
1459854,Sizzle Season 2023,4.1.0,Krak-On Splat Roller,N-ZAP '85,Tentatek Splattershot,Flingza Roller,Dynamo Roller,Splat Roller,Blaster,Splash-o-matic
1459855,Sizzle Season 2023,4.1.0,Rapid Blaster Deco,Bloblobber,Ballpoint Splatling,Splatana Stamper,Bloblobber,Aerospray MG,N-ZAP '85,Jet Squelcher
1459856,Sizzle Season 2023,4.1.0,Splash-o-matic,Nautilus 47,Flingza Roller,REEF-LUX 450,Carbon Roller Deco,Custom Jet Squelcher,Hydra Splatling,Clash Blaster

In [36]:
A1_weps = weapons[["# season", "game-ver","A1-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A1-weapon":"Weapon"
    }    ,axis=1

)
A2_weps = weapons[["# season", "game-ver","A2-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A2-weapon":"Weapon"
    }    ,axis=1

)
A3_weps = weapons[["# season", "game-ver","A3-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A3-weapon":"Weapon"
    }    ,axis=1

)
A4_weps = weapons[["# season", "game-ver","A4-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A4-weapon":"Weapon"
    }    ,axis=1

)
B1_weps = weapons[["# season", "game-ver","B1-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B1-weapon":"Weapon"
    }    ,axis=1

)
B2_weps = weapons[["# season", "game-ver","B2-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B2-weapon":"Weapon"
    }    ,axis=1

)
B3_weps = weapons[["# season", "game-ver","B3-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B3-weapon":"Weapon"
    }    ,axis=1

)
B4_weps = weapons[["# season", "game-ver","B4-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B4-weapon":"Weapon"
    }
    ,axis=1
)

allWeapons = pd.concat([A1_weps,A2_weps,A3_weps,A4_weps,B1_weps,B2_weps,B3_weps,B4_weps], axis=0)

In [37]:
allWeapons.groupby(["Game_Version","Weapon"])["Weapon"].count()

Game_Version  Weapon
1.1.1         .52 Gal                2664
              .96 Gal                 377
              Aerospray MG            930
              Ballpoint Splatling     218
              Bamboozler 14 Mk I      157
                                     ...
4.1.0         Tri-Stringer           4247
              Undercover Brella       410
              Z+F Splat Charger       405
              Z+F Splatterscope       377
              Zink Mini Splatling     162
Name: Weapon, Length: 1176, dtype: int64

In [38]:
allWeapons.to_csv("Splatoon3Weapons.csv")

In [39]:
ver1_1_1 = allWeapons[allWeapons["Game_Version"]=="1.1.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_1_1["count"] = ver1_1_1["count"]/sum(ver1_1_1["count"])
ver1_1_1

                 Weapon     count
0          Splattershot  0.064133
1               .52 Gal  0.059200
2        Splash-o-matic  0.057889
3      Splattershot Jr.  0.057244
4      Sloshing Machine  0.056956
5             N-ZAP '85  0.041556
6     Dualie Squelchers  0.036400
7            E-liter 4K  0.036244
8          Splat Roller  0.033200
9            Bloblobber  0.030956
10       Flingza Roller  0.030333
11    Hero Shot Replica  0.027200
12      Hydra Splatling  0.026200
13        Range Blaster  0.025356
14         REEF-LUX 450  0.024778
15         Tri-Stringer  0.023444
16         Aerospray MG  0.020667
17      Heavy Splatling  0.019178
18      Sploosh-o-matic  0.016844
19       Dapple Dualies  0.016422
20             Inkbrush  0.015978
21   Dark Tetra Dualies  0.015444
22     Splattershot Pro  0.014622
23            Octobrush  0.014533
24        Clash Blaster  0.014222
25        Splat Dualies  0.013378
26        Splat Charger  0.013356
27            Explosher  0.012000
28     E-liter 4K Scope  0.010978
29     Splatana Stamper  0.010978
30        Dynamo Roller  0.010400
31     Classic Squiffer  0.010311
32          Tri-Slosher  0.010044
33       Glooga Dualies  0.009422
34              Blaster  0.009356
35          Nautilus 47  0.009022
36        Splatterscope  0.008600
37             Squeezer  0.008422
38              .96 Gal  0.008378
39        Rapid Blaster  0.007533
40        Carbon Roller  0.007422
41        Jet Squelcher  0.007044
42         Luna Blaster  0.006933
43       Splatana Wiper  0.006867
44              Slosher  0.006822
45    Undercover Brella  0.005844
46  Ballpoint Splatling  0.004844
47    Rapid Blaster Pro  0.003822
48   Bamboozler 14 Mk I  0.003489
49         Tenta Brella  0.003089
50       L-3 Nozzlenose  0.003000
51            Goo Tuber  0.002933
52       H-3 Nozzlenose  0.002489
53       Mini Splatling  0.002222
54         Splat Brella  0.002000

In [40]:
ver1_1_2 = allWeapons[allWeapons["Game_Version"]=="1.1.2"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_1_2["count"] = ver1_1_2["count"]/sum(ver1_1_2["count"])
ver1_1_2

                 Weapon     count
0          Splattershot  0.067331
1      Splattershot Jr.  0.063054
2        Splash-o-matic  0.057245
3               .52 Gal  0.052676
4      Sloshing Machine  0.049914
5            E-liter 4K  0.042263
6     Dualie Squelchers  0.034032
7        Flingza Roller  0.032250
8             N-ZAP '85  0.031585
9          Splat Roller  0.031442
10           Bloblobber  0.030212
11      Hydra Splatling  0.029529
12    Hero Shot Replica  0.028658
13         REEF-LUX 450  0.025735
14        Range Blaster  0.024228
15         Tri-Stringer  0.022598
16      Heavy Splatling  0.020452
17             Inkbrush  0.019919
18   Dark Tetra Dualies  0.019170
19       Dapple Dualies  0.018761
20         Aerospray MG  0.016836
21      Sploosh-o-matic  0.016695
22            Explosher  0.014326
23        Clash Blaster  0.013928
24            Octobrush  0.012940
25        Splat Charger  0.012428
26        Splat Dualies  0.012199
27     Splatana Stamper  0.011757
28     Splattershot Pro  0.011462
29     Classic Squiffer  0.011307
30       Glooga Dualies  0.011283
31              Blaster  0.011114
32       Splatana Wiper  0.010752
33          Tri-Slosher  0.010742
34     E-liter 4K Scope  0.010497
35              .96 Gal  0.008664
36        Dynamo Roller  0.008318
37         Luna Blaster  0.008156
38             Squeezer  0.008043
39          Nautilus 47  0.007924
40              Slosher  0.007798
41        Carbon Roller  0.007241
42        Splatterscope  0.007134
43        Rapid Blaster  0.006687
44        Jet Squelcher  0.006322
45  Ballpoint Splatling  0.005264
46            Goo Tuber  0.004895
47    Undercover Brella  0.004620
48   Bamboozler 14 Mk I  0.003543
49    Rapid Blaster Pro  0.003339
50         Tenta Brella  0.002901
51       Mini Splatling  0.002820
52       L-3 Nozzlenose  0.002733
53       H-3 Nozzlenose  0.002201
54         Splat Brella  0.002077

In [41]:
ver1_2_0 = allWeapons[allWeapons["Game_Version"] == "1.2.0"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_2_0["count"] = ver1_2_0["count"] / sum(ver1_2_0["count"])
ver1_2_0

                 Weapon     count
0          Splattershot  0.070272
1      Splattershot Jr.  0.069251
2        Splash-o-matic  0.052704
3            E-liter 4K  0.049248
4               .52 Gal  0.046633
5      Sloshing Machine  0.039452
6     Dualie Squelchers  0.031483
7        Flingza Roller  0.031017
8          Splat Roller  0.030301
9            Bloblobber  0.027328
10        Range Blaster  0.026970
11      Hydra Splatling  0.026271
12    Hero Shot Replica  0.025376
13      Heavy Splatling  0.024122
14            N-ZAP '85  0.023048
15      Sploosh-o-matic  0.022332
16         Tri-Stringer  0.020809
17             Inkbrush  0.020720
18       Dapple Dualies  0.019842
19       Splatana Wiper  0.019090
20   Dark Tetra Dualies  0.018732
21            Explosher  0.018714
22         REEF-LUX 450  0.018499
23        Clash Blaster  0.015455
24         Aerospray MG  0.013628
25            Octobrush  0.012016
26        Splat Dualies  0.011963
27     Classic Squiffer  0.011873
28     E-liter 4K Scope  0.011443
29     Splatana Stamper  0.011282
30          Tri-Slosher  0.011211
31              Blaster  0.011157
32       Glooga Dualies  0.010960
33        Splat Charger  0.010297
34       Mini Splatling  0.009796
35              .96 Gal  0.009080
36     Splattershot Pro  0.009044
37         Luna Blaster  0.008954
38              Slosher  0.008775
39          Nautilus 47  0.008256
40  Ballpoint Splatling  0.007736
41        Rapid Blaster  0.007575
42             Squeezer  0.007342
43        Dynamo Roller  0.007163
44        Splatterscope  0.007092
45        Carbon Roller  0.006465
46         Tenta Brella  0.006178
47        Jet Squelcher  0.006089
48            Goo Tuber  0.005498
49    Undercover Brella  0.005068
50         Splat Brella  0.004513
51   Bamboozler 14 Mk I  0.003994
52    Rapid Blaster Pro  0.003044
53       L-3 Nozzlenose  0.002561
54       H-3 Nozzlenose  0.002274

In [56]:
ver1_2_1 = allWeapons[allWeapons["Game_Version"]=="1.2.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_2_1["count"] = ver1_2_1["count"]/sum(ver1_2_1["count"])
ver1_2_1

                 Weapon     count
0        Splash-o-matic  0.076627
1      Splattershot Jr.  0.074722
2          Splattershot  0.067461
3               .52 Gal  0.049469
4            E-liter 4K  0.042031
5      Sloshing Machine  0.036054
6            Bloblobber  0.033510
7        Flingza Roller  0.033241
8     Dualie Squelchers  0.032580
9          Splat Roller  0.029522
10      Hydra Splatling  0.028231
11    Hero Shot Replica  0.026512
12            N-ZAP '85  0.026396
13      Sploosh-o-matic  0.025237
14         REEF-LUX 450  0.025112
15             Inkbrush  0.023283
16      Heavy Splatling  0.023017
17        Range Blaster  0.019485
18       Dapple Dualies  0.018312
19         Aerospray MG  0.018307
20         Tri-Stringer  0.018210
21   Dark Tetra Dualies  0.017313
22            Explosher  0.015782
23        Clash Blaster  0.013332
24        Splat Dualies  0.011972
25     Splatana Stamper  0.011952
26            Octobrush  0.011736
27     Classic Squiffer  0.011601
28          Tri-Slosher  0.011255
29       Glooga Dualies  0.010981
30        Splat Charger  0.010909
31     Splattershot Pro  0.010194
32       Splatana Wiper  0.009568
33     E-liter 4K Scope  0.009147
34        Dynamo Roller  0.008195
35              Blaster  0.008149
36          Nautilus 47  0.008144
37             Squeezer  0.007311
38              .96 Gal  0.007303
39              Slosher  0.006932
40        Carbon Roller  0.006812
41        Splatterscope  0.006533
42  Ballpoint Splatling  0.006397
43        Jet Squelcher  0.006337
44         Luna Blaster  0.006098
45        Rapid Blaster  0.006043
46            Goo Tuber  0.005373
47       Mini Splatling  0.004795
48    Undercover Brella  0.004744
49   Bamboozler 14 Mk I  0.003775
50         Tenta Brella  0.003557
51       L-3 Nozzlenose  0.003132
52         Splat Brella  0.002744
53    Rapid Blaster Pro  0.002289
54       H-3 Nozzlenose  0.002276

In [43]:
ver2_0_0= allWeapons[allWeapons["Game_Version"]=="2.0.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_0_0["count"] = ver2_0_0["count"]/sum(ver2_0_0["count"])
ver2_0_0

                     Weapon     count
0   Custom Splattershot Jr.  0.065023
1     Tentatek Splattershot  0.059519
2            Splash-o-matic  0.056343
3    Forge Splattershot Pro  0.046808
4          Splattershot Jr.  0.044744
..                      ...       ...
63           Mini Splatling  0.002000
64           L-3 Nozzlenose  0.001915
65        Rapid Blaster Pro  0.001803
66             Splat Brella  0.001613
67           H-3 Nozzlenose  0.001152

[68 rows x 2 columns]

In [44]:
ver2_0_1 = allWeapons[allWeapons["Game_Version"]=="2.0.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_0_1["count"] = ver2_0_1["count"]/sum(ver2_0_1["count"])
ver2_0_1

                     Weapon     count
0            Splash-o-matic  0.086193
1   Custom Splattershot Jr.  0.066302
2          Splattershot Jr.  0.043516
3     Tentatek Splattershot  0.041827
4                E-liter 4K  0.039842
..                      ...       ...
63        Rapid Blaster Pro  0.001966
64             Splat Brella  0.001921
65           Mini Splatling  0.001742
66             Slosher Deco  0.001742
67           H-3 Nozzlenose  0.001720

[68 rows x 2 columns]

In [45]:
ver2_1_0 = allWeapons[allWeapons["Game_Version"]=="2.1.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_1_0["count"] = ver2_1_0["count"]/sum(ver2_1_0["count"])
ver2_1_0

                     Weapon     count
0     Tentatek Splattershot  0.085651
1            Splash-o-matic  0.055646
2   Custom Splattershot Jr.  0.052014
3                E-liter 4K  0.041422
4          Splattershot Jr.  0.037720
..                      ...       ...
63        Rapid Blaster Pro  0.002114
64           L-3 Nozzlenose  0.002066
65            Carbon Roller  0.001899
66           Snipewriter 5H  0.001795
67           Mini Splatling  0.001713

[68 rows x 2 columns]

In [46]:
ver2_1_1 = allWeapons[allWeapons["Game_Version"] == "2.1.1"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_1_1["count"] = ver2_1_1["count"] / sum(ver2_1_1["count"])
ver2_1_1

                     Weapon     count
0     Tentatek Splattershot  0.080972
1            Splash-o-matic  0.067953
2   Custom Splattershot Jr.  0.049508
3              Aerospray RG  0.044159
4          Splattershot Jr.  0.041698
..                      ...       ...
63            Carbon Roller  0.002018
64           Mini Splatling  0.001988
65        Rapid Blaster Pro  0.001789
66           Snipewriter 5H  0.001685
67             Slosher Deco  0.001562

[68 rows x 2 columns]

In [47]:
ver3_0_0 = allWeapons[allWeapons["Game_Version"]=="3.0.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_0_0["count"] = ver3_0_0["count"]/sum(ver3_0_0["count"])
ver3_0_0

                   Weapon     count
0            .96 Gal Deco  0.063913
1               N-ZAP '89  0.055730
2   Tentatek Splattershot  0.052406
3      Neo Splash-o-matic  0.042262
4    Krak-On Splat Roller  0.038003
..                    ...       ...
75          Carbon Roller  0.001188
76         L-3 Nozzlenose  0.001045
77      Rapid Blaster Pro  0.001038
78           Slosher Deco  0.000780
79         Snipewriter 5H  0.000718

[80 rows x 2 columns]

In [48]:
ver3_0_1 = allWeapons[allWeapons["Game_Version"]=="3.0.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_0_1["count"] = ver3_0_1["count"]/sum(ver3_0_1["count"])
ver3_0_1

                     Weapon     count
0     Tentatek Splattershot  0.057687
1        Neo Splash-o-matic  0.043751
2            Splash-o-matic  0.041362
3                E-liter 4K  0.037114
4   Custom Splattershot Jr.  0.033444
..                      ...       ...
75           Snipewriter 5H  0.001528
76             Slosher Deco  0.001363
77        Rapid Blaster Pro  0.001349
78                  .96 Gal  0.001198
79           L-3 Nozzlenose  0.001113

[80 rows x 2 columns]

In [49]:
ver3_1_0 = allWeapons[allWeapons["Game_Version"]=="3.1.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_1_0["count"] = ver3_1_0["count"]/sum(ver3_1_0["count"])
ver3_1_0

                     Weapon     count
0     Tentatek Splattershot  0.056439
1        Neo Splash-o-matic  0.047372
2                E-liter 4K  0.033126
3          Sloshing Machine  0.031498
4   Custom Splattershot Jr.  0.030378
..                      ...       ...
75           H-3 Nozzlenose  0.001717
76            Carbon Roller  0.001613
77                  .96 Gal  0.001311
78        Rapid Blaster Pro  0.001307
79           L-3 Nozzlenose  0.000711

[80 rows x 2 columns]

In [50]:
ver3_1_1 = allWeapons[allWeapons["Game_Version"] == "3.1.1"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_1_1["count"] = ver3_1_1["count"] / sum(ver3_1_1["count"])
ver3_1_1

                   Weapon     count
0   Tentatek Splattershot  0.054177
1      Neo Splash-o-matic  0.051347
2        Sloshing Machine  0.035331
3              E-liter 4K  0.032531
4        Splattershot Jr.  0.031357
..                    ...       ...
75           Slosher Deco  0.001657
76          Carbon Roller  0.001557
77                .96 Gal  0.001551
78         Snipewriter 5H  0.001452
79         L-3 Nozzlenose  0.000667

[80 rows x 2 columns]

In [51]:
ver4_0_0 = allWeapons[allWeapons["Game_Version"] == "4.0.0"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_0_0["count"] = ver4_0_0["count"] / sum(ver4_0_0["count"])
ver4_0_0

                      Weapon     count
0                  Painbrush  0.069187
1                S-BLAST '92  0.051921
2      Tentatek Splattershot  0.042781
3        Splatana Wiper Deco  0.037359
4   Annaki Splattershot Nova  0.033582
..                       ...       ...
86             Rapid Blaster  0.001095
87             Carbon Roller  0.001037
88              Slosher Deco  0.000913
89         Rapid Blaster Pro  0.000848
90            L-3 Nozzlenose  0.000464

[91 rows x 2 columns]

In [52]:
ver4_0_1 = allWeapons[allWeapons["Game_Version"] == "4.0.1"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_0_1["count"] = ver4_0_1["count"] / sum(ver4_0_1["count"])
ver4_0_1

                      Weapon     count
0      Tentatek Splattershot  0.047686
1               Splattershot  0.043632
2         Neo Splash-o-matic  0.032793
3   Annaki Splattershot Nova  0.031078
4           Splattershot Jr.  0.029382
..                       ...       ...
86                   .96 Gal  0.001039
87              Slosher Deco  0.000908
88            H-3 Nozzlenose  0.000540
89            L-3 Nozzlenose  0.000433
90         Rapid Blaster Pro  0.000402

[91 rows x 2 columns]

In [53]:
ver4_0_2 = allWeapons[allWeapons["Game_Version"] == "4.0.2"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_0_2["count"] = ver4_0_2["count"] / sum(ver4_0_2["count"])
ver4_0_2

                   Weapon     count
0   Tentatek Splattershot  0.050546
1              E-liter 4K  0.033746
2      Neo Splash-o-matic  0.033687
3        Splattershot Jr.  0.032751
4          Splash-o-matic  0.028502
..                    ...       ...
86        Big Swig Roller  0.001624
87           Tenta Brella  0.001531
88         H-3 Nozzlenose  0.001214
89         L-3 Nozzlenose  0.000897
90      Rapid Blaster Pro  0.000829

[91 rows x 2 columns]

In [54]:
ver4_1_0 = allWeapons[allWeapons["Game_Version"] == "4.1.0"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_1_0["count"] = ver4_1_0["count"] / sum(ver4_1_0["count"])
ver4_1_0

                   Weapon     count
0            Splattershot  0.068738
1   Tentatek Splattershot  0.046085
2            Tri-Stringer  0.046031
3               N-ZAP '85  0.045391
4              E-liter 4K  0.032353
..                    ...       ...
86          Carbon Roller  0.001550
87       L-3 Nozzlenose D  0.001257
88       H-3 Nozzlenose D  0.001095
89         H-3 Nozzlenose  0.000856
90         L-3 Nozzlenose  0.000585

[91 rows x 2 columns]

In [58]:
ver1_1_1.to_csv("Data/Version1.1.1.csv")
ver1_1_2.to_csv("Data/Version1.1.2.csv")
ver1_2_0.to_csv("Data/Version1.2.0.csv")
ver1_2_1.to_csv("Data/Version1.2.1.csv")
ver2_0_0.to_csv("Data/Version2.0.0.csv")
ver2_0_1.to_csv("Data/Version2.0.1.csv")
ver2_1_0.to_csv("Data/Version2.1.0.csv")
ver2_1_1.to_csv("Data/Version2.1.1.csv")
ver3_0_0.to_csv("Data/Version3.0.0.csv")
ver3_0_1.to_csv("Data/Version3.0.1.csv")
ver3_1_0.to_csv("Data/Version3.1.0.csv")
ver3_1_1.to_csv("Data/Version3.1.1.csv")
ver4_0_0.to_csv("Data/Version4.0.0.csv")
ver4_0_1.to_csv("Data/Version4.0.1.csv")
ver4_0_2.to_csv("Data/Version4.0.2.csv")
ver4_1_0.to_csv("Data/Version4.1.0.csv")