In [29]:
import pandas as pd
import glob
csv_files = glob.glob("battle-results-csv" + "/*.csv")
df_list = (pd.read_csv(file) for file in csv_files)

big_df = pd.concat(df_list, ignore_index=True)

C:\Users\davie\AppData\Local\Temp\ipykernel_24124\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\4063039768.py:4: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df_list = (pd.read_csv(file) for file in csv_files)

In [30]:
weapons=big_df[["# season", 'game-ver',"A1-weapon", "A2-weapon","A3-weapon","A4-weapon","B1-weapon","B2-weapon","B3-weapon","B4-weapon"]]

In [31]:
import json
with open("weapons.json") as json_file:
    data = json.load(json_file)

toENG = {}
for i in data:
    toENG[i["key"]] = i["name"]["en_US"]

In [32]:
weapons["A1-weapon"] = weapons["A1-weapon"].map(toENG)
weapons["A2-weapon"] = weapons["A2-weapon"].map(toENG)
weapons["A3-weapon"] = weapons["A3-weapon"].map(toENG)
weapons["A4-weapon"] = weapons["A4-weapon"].map(toENG)
weapons["B1-weapon"] = weapons["B1-weapon"].map(toENG)
weapons["B2-weapon"] = weapons["B2-weapon"].map(toENG)
weapons["B3-weapon"] = weapons["B3-weapon"].map(toENG)
weapons["B4-weapon"] = weapons["B4-weapon"].map(toENG)

C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A1-weapon"] = weapons["A1-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A2-weapon"] = weapons["A2-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A3-weapon"] = weapons["A3-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["A4-weapon"] = weapons["A4-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B1-weapon"] = weapons["B1-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B2-weapon"] = weapons["B2-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B3-weapon"] = weapons["B3-weapon"].map(toENG)
C:\Users\davie\AppData\Local\Temp\ipykernel_24124\2654664428.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weapons["B4-weapon"] = weapons["B4-weapon"].map(toENG)

In [33]:
weapons

,# season,game-ver,A1-weapon,A2-weapon,A3-weapon,A4-weapon,B1-weapon,B2-weapon,B3-weapon,B4-weapon
0,Drizzle Season 2022,1.1.1,Splattershot,Tenta Brella,Flingza Roller,.52 Gal,Nautilus 47,.52 Gal,Hydra Splatling,Range Blaster
1,Drizzle Season 2022,1.1.1,Hero Shot Replica,Aerospray MG,Inkbrush,Splat Roller,Sploosh-o-matic,Inkbrush,Dualie Squelchers,Goo Tuber
2,Drizzle Season 2022,1.1.1,Sloshing Machine,Carbon Roller,Splattershot,Dualie Squelchers,Clash Blaster,Range Blaster,Ballpoint Splatling,Sloshing Machine
3,Drizzle Season 2022,1.1.1,Hero Shot Replica,Splattershot Jr.,Splat Roller,Inkbrush,Splash-o-matic,Splattershot Jr.,Splattershot,Splat Roller
4,Drizzle Season 2022,1.1.1,Sloshing Machine,Range Blaster,Dapple Dualies,Tri-Slosher,Tri-Slosher,Hydra Splatling,Sploosh-o-matic,N-ZAP '85
...,...,...,...,...,...,...,...,...,...,...
1459852,Sizzle Season 2023,4.1.0,Splash-o-matic,Dynamo Roller,Explosher,Bloblobber,Tentatek Splattershot,Dapple Dualies Nouveau,Painbrush,Neo Splash-o-matic
1459853,Sizzle Season 2023,4.1.0,Classic Squiffer,Splattershot Jr.,Splatana Stamper,Splat Roller,Tentatek Splattershot,Tentatek Splattershot,Krak-On Splat Roller,Splatana Wiper
1459854,Sizzle Season 2023,4.1.0,Krak-On Splat Roller,N-ZAP '85,Tentatek Splattershot,Flingza Roller,Dynamo Roller,Splat Roller,Blaster,Splash-o-matic
1459855,Sizzle Season 2023,4.1.0,Rapid Blaster Deco,Bloblobber,Ballpoint Splatling,Splatana Stamper,Bloblobber,Aerospray MG,N-ZAP '85,Jet Squelcher
1459856,Sizzle Season 2023,4.1.0,Splash-o-matic,Nautilus 47,Flingza Roller,REEF-LUX 450,Carbon Roller Deco,Custom Jet Squelcher,Hydra Splatling,Clash Blaster

In [34]:
A1_weps = weapons[["# season", "game-ver","A1-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A1-weapon":"Weapon"
    }    ,axis=1

)
A2_weps = weapons[["# season", "game-ver","A2-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A2-weapon":"Weapon"
    }    ,axis=1

)
A3_weps = weapons[["# season", "game-ver","A3-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A3-weapon":"Weapon"
    }    ,axis=1

)
A4_weps = weapons[["# season", "game-ver","A4-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "A4-weapon":"Weapon"
    }    ,axis=1

)
B1_weps = weapons[["# season", "game-ver","B1-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B1-weapon":"Weapon"
    }    ,axis=1

)
B2_weps = weapons[["# season", "game-ver","B2-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B2-weapon":"Weapon"
    }    ,axis=1

)
B3_weps = weapons[["# season", "game-ver","B3-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B3-weapon":"Weapon"
    }    ,axis=1

)
B4_weps = weapons[["# season", "game-ver","B4-weapon"]].rename(
    {
        "# season":"Season",
        "game-ver":"Game_Version",
        "B4-weapon":"Weapon"
    }
    ,axis=1
)

allWeapons = pd.concat([A1_weps,A2_weps,A3_weps,A4_weps,B1_weps,B2_weps,B3_weps,B4_weps], axis=0)

In [35]:
allWeapons.groupby(["Game_Version","Weapon"])["Weapon"].count()

Game_Version  Weapon
1.1.1         .52 Gal                2664
              .96 Gal                 377
              Aerospray MG            930
              Ballpoint Splatling     218
              Bamboozler 14 Mk I      157
                                     ...
4.1.0         Tri-Stringer           4247
              Undercover Brella       410
              Z+F Splat Charger       405
              Z+F Splatterscope       377
              Zink Mini Splatling     162
Name: Weapon, Length: 1176, dtype: int64

In [36]:
allWeapons.to_csv("Splatoon3Weapons.csv")

In [37]:
ver1_1_1 = allWeapons[allWeapons["Game_Version"]=="1.1.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_1_1["countp"] = ver1_1_1["count"]/sum(ver1_1_1["count"])
ver1_1_1

                 Weapon  count    countp
0          Splattershot   2886  0.064133
1               .52 Gal   2664  0.059200
2        Splash-o-matic   2605  0.057889
3      Splattershot Jr.   2576  0.057244
4      Sloshing Machine   2563  0.056956
5             N-ZAP '85   1870  0.041556
6     Dualie Squelchers   1638  0.036400
7            E-liter 4K   1631  0.036244
8          Splat Roller   1494  0.033200
9            Bloblobber   1393  0.030956
10       Flingza Roller   1365  0.030333
11    Hero Shot Replica   1224  0.027200
12      Hydra Splatling   1179  0.026200
13        Range Blaster   1141  0.025356
14         REEF-LUX 450   1115  0.024778
15         Tri-Stringer   1055  0.023444
16         Aerospray MG    930  0.020667
17      Heavy Splatling    863  0.019178
18      Sploosh-o-matic    758  0.016844
19       Dapple Dualies    739  0.016422
20             Inkbrush    719  0.015978
21   Dark Tetra Dualies    695  0.015444
22     Splattershot Pro    658  0.014622
23            Octobrush    654  0.014533
24        Clash Blaster    640  0.014222
25        Splat Dualies    602  0.013378
26        Splat Charger    601  0.013356
27            Explosher    540  0.012000
28     E-liter 4K Scope    494  0.010978
29     Splatana Stamper    494  0.010978
30        Dynamo Roller    468  0.010400
31     Classic Squiffer    464  0.010311
32          Tri-Slosher    452  0.010044
33       Glooga Dualies    424  0.009422
34              Blaster    421  0.009356
35          Nautilus 47    406  0.009022
36        Splatterscope    387  0.008600
37             Squeezer    379  0.008422
38              .96 Gal    377  0.008378
39        Rapid Blaster    339  0.007533
40        Carbon Roller    334  0.007422
41        Jet Squelcher    317  0.007044
42         Luna Blaster    312  0.006933
43       Splatana Wiper    309  0.006867
44              Slosher    307  0.006822
45    Undercover Brella    263  0.005844
46  Ballpoint Splatling    218  0.004844
47    Rapid Blaster Pro    172  0.003822
48   Bamboozler 14 Mk I    157  0.003489
49         Tenta Brella    139  0.003089
50       L-3 Nozzlenose    135  0.003000
51            Goo Tuber    132  0.002933
52       H-3 Nozzlenose    112  0.002489
53       Mini Splatling    100  0.002222
54         Splat Brella     90  0.002000

In [38]:
ver1_1_2 = allWeapons[allWeapons["Game_Version"]=="1.1.2"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_1_2["countp"] = ver1_1_2["count"]/sum(ver1_1_2["count"])
ver1_1_2

                 Weapon  count    countp
0          Splattershot  39640  0.067331
1      Splattershot Jr.  37122  0.063054
2        Splash-o-matic  33702  0.057245
3               .52 Gal  31012  0.052676
4      Sloshing Machine  29386  0.049914
5            E-liter 4K  24882  0.042263
6     Dualie Squelchers  20036  0.034032
7        Flingza Roller  18987  0.032250
8             N-ZAP '85  18595  0.031585
9          Splat Roller  18511  0.031442
10           Bloblobber  17787  0.030212
11      Hydra Splatling  17385  0.029529
12    Hero Shot Replica  16872  0.028658
13         REEF-LUX 450  15151  0.025735
14        Range Blaster  14264  0.024228
15         Tri-Stringer  13304  0.022598
16      Heavy Splatling  12041  0.020452
17             Inkbrush  11727  0.019919
18   Dark Tetra Dualies  11286  0.019170
19       Dapple Dualies  11045  0.018761
20         Aerospray MG   9912  0.016836
21      Sploosh-o-matic   9829  0.016695
22            Explosher   8434  0.014326
23        Clash Blaster   8200  0.013928
24            Octobrush   7618  0.012940
25        Splat Charger   7317  0.012428
26        Splat Dualies   7182  0.012199
27     Splatana Stamper   6922  0.011757
28     Splattershot Pro   6748  0.011462
29     Classic Squiffer   6657  0.011307
30       Glooga Dualies   6643  0.011283
31              Blaster   6543  0.011114
32       Splatana Wiper   6330  0.010752
33          Tri-Slosher   6324  0.010742
34     E-liter 4K Scope   6180  0.010497
35              .96 Gal   5101  0.008664
36        Dynamo Roller   4897  0.008318
37         Luna Blaster   4802  0.008156
38             Squeezer   4735  0.008043
39          Nautilus 47   4665  0.007924
40              Slosher   4591  0.007798
41        Carbon Roller   4263  0.007241
42        Splatterscope   4200  0.007134
43        Rapid Blaster   3937  0.006687
44        Jet Squelcher   3722  0.006322
45  Ballpoint Splatling   3099  0.005264
46            Goo Tuber   2882  0.004895
47    Undercover Brella   2720  0.004620
48   Bamboozler 14 Mk I   2086  0.003543
49    Rapid Blaster Pro   1966  0.003339
50         Tenta Brella   1708  0.002901
51       Mini Splatling   1660  0.002820
52       L-3 Nozzlenose   1609  0.002733
53       H-3 Nozzlenose   1296  0.002201
54         Splat Brella   1223  0.002077

In [39]:
ver1_2_0 = allWeapons[allWeapons["Game_Version"] == "1.2.0"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_2_0["countp"] = ver1_2_0["count"] / sum(ver1_2_0["count"])
ver1_2_0

                 Weapon  count    countp
0          Splattershot   3924  0.070272
1      Splattershot Jr.   3867  0.069251
2        Splash-o-matic   2943  0.052704
3            E-liter 4K   2750  0.049248
4               .52 Gal   2604  0.046633
5      Sloshing Machine   2203  0.039452
6     Dualie Squelchers   1758  0.031483
7        Flingza Roller   1732  0.031017
8          Splat Roller   1692  0.030301
9            Bloblobber   1526  0.027328
10        Range Blaster   1506  0.026970
11      Hydra Splatling   1467  0.026271
12    Hero Shot Replica   1417  0.025376
13      Heavy Splatling   1347  0.024122
14            N-ZAP '85   1287  0.023048
15      Sploosh-o-matic   1247  0.022332
16         Tri-Stringer   1162  0.020809
17             Inkbrush   1157  0.020720
18       Dapple Dualies   1108  0.019842
19       Splatana Wiper   1066  0.019090
20   Dark Tetra Dualies   1046  0.018732
21            Explosher   1045  0.018714
22         REEF-LUX 450   1033  0.018499
23        Clash Blaster    863  0.015455
24         Aerospray MG    761  0.013628
25            Octobrush    671  0.012016
26        Splat Dualies    668  0.011963
27     Classic Squiffer    663  0.011873
28     E-liter 4K Scope    639  0.011443
29     Splatana Stamper    630  0.011282
30          Tri-Slosher    626  0.011211
31              Blaster    623  0.011157
32       Glooga Dualies    612  0.010960
33        Splat Charger    575  0.010297
34       Mini Splatling    547  0.009796
35              .96 Gal    507  0.009080
36     Splattershot Pro    505  0.009044
37         Luna Blaster    500  0.008954
38              Slosher    490  0.008775
39          Nautilus 47    461  0.008256
40  Ballpoint Splatling    432  0.007736
41        Rapid Blaster    423  0.007575
42             Squeezer    410  0.007342
43        Dynamo Roller    400  0.007163
44        Splatterscope    396  0.007092
45        Carbon Roller    361  0.006465
46         Tenta Brella    345  0.006178
47        Jet Squelcher    340  0.006089
48            Goo Tuber    307  0.005498
49    Undercover Brella    283  0.005068
50         Splat Brella    252  0.004513
51   Bamboozler 14 Mk I    223  0.003994
52    Rapid Blaster Pro    170  0.003044
53       L-3 Nozzlenose    143  0.002561
54       H-3 Nozzlenose    127  0.002274

In [40]:
ver1_2_1 = allWeapons[allWeapons["Game_Version"]=="1.2.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver1_2_1["countp"] = ver1_2_1["count"]/sum(ver1_2_1["count"])
ver1_2_1

                 Weapon  count    countp
0        Splash-o-matic  81930  0.076627
1      Splattershot Jr.  79893  0.074722
2          Splattershot  72129  0.067461
3               .52 Gal  52892  0.049469
4            E-liter 4K  44940  0.042031
5      Sloshing Machine  38549  0.036054
6            Bloblobber  35829  0.033510
7        Flingza Roller  35541  0.033241
8     Dualie Squelchers  34835  0.032580
9          Splat Roller  31565  0.029522
10      Hydra Splatling  30185  0.028231
11    Hero Shot Replica  28347  0.026512
12            N-ZAP '85  28223  0.026396
13      Sploosh-o-matic  26983  0.025237
14         REEF-LUX 450  26850  0.025112
15             Inkbrush  24894  0.023283
16      Heavy Splatling  24610  0.023017
17        Range Blaster  20833  0.019485
18       Dapple Dualies  19579  0.018312
19         Aerospray MG  19574  0.018307
20         Tri-Stringer  19470  0.018210
21   Dark Tetra Dualies  18511  0.017313
22            Explosher  16874  0.015782
23        Clash Blaster  14255  0.013332
24        Splat Dualies  12800  0.011972
25     Splatana Stamper  12779  0.011952
26            Octobrush  12548  0.011736
27     Classic Squiffer  12404  0.011601
28          Tri-Slosher  12034  0.011255
29       Glooga Dualies  11741  0.010981
30        Splat Charger  11664  0.010909
31     Splattershot Pro  10899  0.010194
32       Splatana Wiper  10230  0.009568
33     E-liter 4K Scope   9780  0.009147
34        Dynamo Roller   8762  0.008195
35              Blaster   8713  0.008149
36          Nautilus 47   8708  0.008144
37             Squeezer   7817  0.007311
38              .96 Gal   7808  0.007303
39              Slosher   7412  0.006932
40        Carbon Roller   7283  0.006812
41        Splatterscope   6985  0.006533
42  Ballpoint Splatling   6840  0.006397
43        Jet Squelcher   6775  0.006337
44         Luna Blaster   6520  0.006098
45        Rapid Blaster   6461  0.006043
46            Goo Tuber   5745  0.005373
47       Mini Splatling   5127  0.004795
48    Undercover Brella   5072  0.004744
49   Bamboozler 14 Mk I   4036  0.003775
50         Tenta Brella   3803  0.003557
51       L-3 Nozzlenose   3349  0.003132
52         Splat Brella   2934  0.002744
53    Rapid Blaster Pro   2447  0.002289
54       H-3 Nozzlenose   2433  0.002276

In [41]:
ver2_0_0= allWeapons[allWeapons["Game_Version"]=="2.0.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_0_0["countp"] = ver2_0_0["count"]/sum(ver2_0_0["count"])
ver2_0_0

                     Weapon  count    countp
0   Custom Splattershot Jr.  19184  0.065023
1     Tentatek Splattershot  17560  0.059519
2            Splash-o-matic  16623  0.056343
3    Forge Splattershot Pro  13810  0.046808
4          Splattershot Jr.  13201  0.044744
..                      ...    ...       ...
63           Mini Splatling    590  0.002000
64           L-3 Nozzlenose    565  0.001915
65        Rapid Blaster Pro    532  0.001803
66             Splat Brella    476  0.001613
67           H-3 Nozzlenose    340  0.001152

[68 rows x 3 columns]

In [42]:
ver2_0_1 = allWeapons[allWeapons["Game_Version"]=="2.0.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_0_1["countp"] = ver2_0_1["count"]/sum(ver2_0_1["count"])
ver2_0_1

                     Weapon   count    countp
0            Splash-o-matic  119146  0.086193
1   Custom Splattershot Jr.   91650  0.066302
2          Splattershot Jr.   60153  0.043516
3     Tentatek Splattershot   57818  0.041827
4                E-liter 4K   55074  0.039842
..                      ...     ...       ...
63        Rapid Blaster Pro    2718  0.001966
64             Splat Brella    2655  0.001921
65           Mini Splatling    2408  0.001742
66             Slosher Deco    2408  0.001742
67           H-3 Nozzlenose    2377  0.001720

[68 rows x 3 columns]

In [43]:
ver2_1_0 = allWeapons[allWeapons["Game_Version"]=="2.1.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_1_0["countp"] = ver2_1_0["count"]/sum(ver2_1_0["count"])
ver2_1_0

                     Weapon  count    countp
0     Tentatek Splattershot  64215  0.085651
1            Splash-o-matic  41719  0.055646
2   Custom Splattershot Jr.  38996  0.052014
3                E-liter 4K  31055  0.041422
4          Splattershot Jr.  28280  0.037720
..                      ...    ...       ...
63        Rapid Blaster Pro   1585  0.002114
64           L-3 Nozzlenose   1549  0.002066
65            Carbon Roller   1424  0.001899
66           Snipewriter 5H   1346  0.001795
67           Mini Splatling   1284  0.001713

[68 rows x 3 columns]

In [44]:
ver2_1_1 = allWeapons[allWeapons["Game_Version"] == "2.1.1"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver2_1_1["countp"] = ver2_1_1["count"] / sum(ver2_1_1["count"])
ver2_1_1

                     Weapon  count    countp
0     Tentatek Splattershot  66717  0.080972
1            Splash-o-matic  55990  0.067953
2   Custom Splattershot Jr.  40792  0.049508
3              Aerospray RG  36385  0.044159
4          Splattershot Jr.  34357  0.041698
..                      ...    ...       ...
63            Carbon Roller   1663  0.002018
64           Mini Splatling   1638  0.001988
65        Rapid Blaster Pro   1474  0.001789
66           Snipewriter 5H   1388  0.001685
67             Slosher Deco   1287  0.001562

[68 rows x 3 columns]

In [45]:
ver3_0_0 = allWeapons[allWeapons["Game_Version"]=="3.0.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_0_0["countp"] = ver3_0_0["count"]/sum(ver3_0_0["count"])
ver3_0_0

                   Weapon  count    countp
0            .96 Gal Deco  24578  0.063913
1               N-ZAP '89  21431  0.055730
2   Tentatek Splattershot  20153  0.052406
3      Neo Splash-o-matic  16252  0.042262
4    Krak-On Splat Roller  14614  0.038003
..                    ...    ...       ...
75          Carbon Roller    457  0.001188
76         L-3 Nozzlenose    402  0.001045
77      Rapid Blaster Pro    399  0.001038
78           Slosher Deco    300  0.000780
79         Snipewriter 5H    276  0.000718

[80 rows x 3 columns]

In [46]:
ver3_0_1 = allWeapons[allWeapons["Game_Version"]=="3.0.1"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_0_1["countp"] = ver3_0_1["count"]/sum(ver3_0_1["count"])
ver3_0_1

                     Weapon  count    countp
0     Tentatek Splattershot  50018  0.057687
1        Neo Splash-o-matic  37935  0.043751
2            Splash-o-matic  35863  0.041362
3                E-liter 4K  32180  0.037114
4   Custom Splattershot Jr.  28998  0.033444
..                      ...    ...       ...
75           Snipewriter 5H   1325  0.001528
76             Slosher Deco   1182  0.001363
77        Rapid Blaster Pro   1170  0.001349
78                  .96 Gal   1039  0.001198
79           L-3 Nozzlenose    965  0.001113

[80 rows x 3 columns]

In [47]:
ver3_1_0 = allWeapons[allWeapons["Game_Version"]=="3.1.0"].groupby("Weapon")["Weapon"].count().reset_index(name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_1_0["countp"] = ver3_1_0["count"]/sum(ver3_1_0["count"])
ver3_1_0

                     Weapon  count    countp
0     Tentatek Splattershot  75785  0.056439
1        Neo Splash-o-matic  63609  0.047372
2                E-liter 4K  44481  0.033126
3          Sloshing Machine  42294  0.031498
4   Custom Splattershot Jr.  40790  0.030378
..                      ...    ...       ...
75           H-3 Nozzlenose   2305  0.001717
76            Carbon Roller   2166  0.001613
77                  .96 Gal   1761  0.001311
78        Rapid Blaster Pro   1755  0.001307
79           L-3 Nozzlenose    955  0.000711

[80 rows x 3 columns]

In [48]:
ver3_1_1 = allWeapons[allWeapons["Game_Version"] == "3.1.1"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver3_1_1["countp"] = ver3_1_1["count"] / sum(ver3_1_1["count"])
ver3_1_1

                   Weapon  count    countp
0   Tentatek Splattershot  61086  0.054177
1      Neo Splash-o-matic  57895  0.051347
2        Sloshing Machine  39837  0.035331
3              E-liter 4K  36680  0.032531
4        Splattershot Jr.  35356  0.031357
..                    ...    ...       ...
75           Slosher Deco   1868  0.001657
76          Carbon Roller   1755  0.001557
77                .96 Gal   1749  0.001551
78         Snipewriter 5H   1637  0.001452
79         L-3 Nozzlenose    752  0.000667

[80 rows x 3 columns]

In [49]:
ver4_0_0 = allWeapons[allWeapons["Game_Version"] == "4.0.0"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_0_0["countp"] = ver4_0_0["count"] / sum(ver4_0_0["count"])
ver4_0_0

                      Weapon  count    countp
0                  Painbrush   9545  0.069187
1                S-BLAST '92   7163  0.051921
2      Tentatek Splattershot   5902  0.042781
3        Splatana Wiper Deco   5154  0.037359
4   Annaki Splattershot Nova   4633  0.033582
..                       ...    ...       ...
86             Rapid Blaster    151  0.001095
87             Carbon Roller    143  0.001037
88              Slosher Deco    126  0.000913
89         Rapid Blaster Pro    117  0.000848
90            L-3 Nozzlenose     64  0.000464

[91 rows x 3 columns]

In [50]:
ver4_0_1 = allWeapons[allWeapons["Game_Version"] == "4.0.1"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_0_1["countp"] = ver4_0_1["count"] / sum(ver4_0_1["count"])
ver4_0_1

                      Weapon  count    countp
0      Tentatek Splattershot  26217  0.047686
1               Splattershot  23988  0.043632
2         Neo Splash-o-matic  18029  0.032793
3   Annaki Splattershot Nova  17086  0.031078
4           Splattershot Jr.  16154  0.029382
..                       ...    ...       ...
86                   .96 Gal    571  0.001039
87              Slosher Deco    499  0.000908
88            H-3 Nozzlenose    297  0.000540
89            L-3 Nozzlenose    238  0.000433
90         Rapid Blaster Pro    221  0.000402

[91 rows x 3 columns]

In [51]:
ver4_0_2 = allWeapons[allWeapons["Game_Version"] == "4.0.2"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_0_2["countp"] = ver4_0_2["count"] / sum(ver4_0_2["count"])
ver4_0_2

                   Weapon   count    countp
0   Tentatek Splattershot  109541  0.050546
1              E-liter 4K   73133  0.033746
2      Neo Splash-o-matic   73004  0.033687
3        Splattershot Jr.   70975  0.032751
4          Splash-o-matic   61768  0.028502
..                    ...     ...       ...
86        Big Swig Roller    3519  0.001624
87           Tenta Brella    3317  0.001531
88         H-3 Nozzlenose    2631  0.001214
89         L-3 Nozzlenose    1944  0.000897
90      Rapid Blaster Pro    1797  0.000829

[91 rows x 3 columns]

In [52]:
ver4_1_0 = allWeapons[allWeapons["Game_Version"] == "4.1.0"].groupby("Weapon")["Weapon"].count().reset_index(
    name='count').sort_values(['count'], ascending=False, ignore_index=True)
ver4_1_0["countp"] = ver4_1_0["count"] / sum(ver4_1_0["count"])
ver4_1_0

                   Weapon  count    countp
0            Splattershot   6342  0.068738
1   Tentatek Splattershot   4252  0.046085
2            Tri-Stringer   4247  0.046031
3               N-ZAP '85   4188  0.045391
4              E-liter 4K   2985  0.032353
..                    ...    ...       ...
86          Carbon Roller    143  0.001550
87       L-3 Nozzlenose D    116  0.001257
88       H-3 Nozzlenose D    101  0.001095
89         H-3 Nozzlenose     79  0.000856
90         L-3 Nozzlenose     54  0.000585

[91 rows x 3 columns]

In [53]:
allWeapons.groupby(["Game_Version","Weapon"]).count()

                                  Season
Game_Version Weapon
1.1.1        .52 Gal                2664
             .96 Gal                 377
             Aerospray MG            930
             Ballpoint Splatling     218
             Bamboozler 14 Mk I      157
...                                  ...
4.1.0        Tri-Stringer           4247
             Undercover Brella       410
             Z+F Splat Charger       405
             Z+F Splatterscope       377
             Zink Mini Splatling     162

[1176 rows x 1 columns]

In [54]:
ver1_1_1.to_csv("Data/Version1.1.1.csv")
ver1_1_2.to_csv("Data/Version1.1.2.csv")
ver1_2_0.to_csv("Data/Version1.2.0.csv")
ver1_2_1.to_csv("Data/Version1.2.1.csv")
ver2_0_0.to_csv("Data/Version2.0.0.csv")
ver2_0_1.to_csv("Data/Version2.0.1.csv")
ver2_1_0.to_csv("Data/Version2.1.0.csv")
ver2_1_1.to_csv("Data/Version2.1.1.csv")
ver3_0_0.to_csv("Data/Version3.0.0.csv")
ver3_0_1.to_csv("Data/Version3.0.1.csv")
ver3_1_0.to_csv("Data/Version3.1.0.csv")
ver3_1_1.to_csv("Data/Version3.1.1.csv")
ver4_0_0.to_csv("Data/Version4.0.0.csv")
ver4_0_1.to_csv("Data/Version4.0.1.csv")
ver4_0_2.to_csv("Data/Version4.0.2.csv")
ver4_1_0.to_csv("Data/Version4.1.0.csv")